<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yuxs.resourcelibrarysystem.mapper.FileDataMapper">

    <!-- 插入文件信息 -->
    <insert id="insertFileData" parameterType="top.yuxs.resourcelibrarysystem.pojo.FileData">
        INSERT INTO file_date (uuid_file_name,file_name, file_type, file_size, upload_time, file_path, file_md5, is_deleted, resource_id,user_name,file_url)
        VALUES (#{uuidFileName},#{fileName}, #{fileType}, #{fileSize}, #{uploadTime}, #{filePath}, #{fileMd5}, #{isDeleted}, #{resourceId},#{userName},#{fileUrl})
    </insert>

    <!-- 更新文件信息 -->
    <update id="updateFileData" parameterType="top.yuxs.resourcelibrarysystem.pojo.FileData">
        UPDATE file_date
        SET file_name = #{fileName},
            file_type = #{fileType},
            file_size = #{fileSize},
            upload_time = #{uploadTime},
            file_path = #{filePath},
            file_md5 = #{fileMd5},
            is_deleted = #{isDeleted},
            resource_id= #{resourceId},
            user_name = #{userName},
            file_url = #{fileUrl},
            uuid_file_name = #{uuidFileName}
        WHERE id = #{id}
    </update>

    <!-- 删除文件信息（逻辑删除） -->
    <update id="deleteFileData" parameterType="java.lang.Long">
        UPDATE file_date
        SET is_deleted = 1
        WHERE id = #{id}
    </update>

</mapper>